/* Import de la police Poppins */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Margin et padding 0 pour un meilleur ajustement des éléments sur la page */

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}


/* Cacher le scroll horizontal pour éviter les overflow qui décentrerait le layout*/

html {
    overflow-x: hidden;
}

/* Poppins font appliquer sur tout le contenu texte */

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

:root {
    --primary-text-color: white;
    --secondary-text-color: whitesmoke;
    --primary-heading-color: rgb(0, 0, 105);
    --secondary-heading-color: rgb(0, 0, 114);
    --primary-bg-color: rgb(40, 40, 43);
    --button-bg-color: rgb(4, 0, 33);
    --button-hover-bg-color: rgb(217, 41, 41);
    --gold-color: rgb(255, 187, 0);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    background-color: var(--primary-heading-color);
}

/* Title */

header h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--primary-text-color);
    margin: 50px;
}

/* Navigation Bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-size: 1.1rem;
    margin: 0 50px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 98);
}

.navbar a:hover {
    text-decoration: none;
    color: var(--primary-heading-color);
    scale: 1.1;
    transition: 0.3s;
}

/* Hero Container*/

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

/* Hero Title */

.cta1 h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 40px;
    color: var(--secondary-heading-color);
    margin: 25px 0;
}

/* Hero Paragraph */

.cta1 p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 20px;
}

/* Hero Picture */

.cta1-picture {
    width: 500px;
}

/* Style for Button */

button {
    width: 100%;
    height: 65px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 3px;
    margin: 25px 0;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    transition: 0.3s;
    scale: 1.05;
}

/* Categories Section */

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-top: 100px;
}

/* Box Background and Shape */

.women,
.men {
    width: 320px;
    height: 1px;
    padding: 100px;
    background-color: var(--button-bg-color);
    border-radius: 50px;
    color: var(--secondary-text-color);
}

.women:hover,
.men:hover,
img:hover {
    scale: 1.01;
    transition: 0.3s;
    cursor: pointer;
}

/* Categories Title */

.categories h2 {
    font-weight: 400;
    font-size: 2.7rem;
    color: var(--secondary-text-color);
    margin-top: -52px;
    margin-left: -20px;
}

/* Categories Paragraph */

.categories p {
    font-size: 1.2rem;
    margin-left: -20px;
}


.categories a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

/* Arrow Icon */

/* Contient le paragraphe et l'icône, c'est le moyen que j'ai trouvé
pour aligner les deux éléments verticalment */

.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Fichier .svg ouverte avec Tex-editor pour changer la couleur */

.arrow img {
    margin-top: 8px;
    margin-left: 20px;
}

.arrow img:hover {
    scale: 1.2;
    transition: 0.3s;
}

/* Features */

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin: 10rem;
}

/* Icons Container */

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: max-content;
}

/* Icons Images */

.icons-pic {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 25px 0;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-heading-color);
    color: var(--primary-text-color);
    height: 35rem;
    text-align: center;
    margin-top: 100px;
}

/* Footer Title */

footer h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: -75px;
}

/* Footer Paragraph */

footer p {
    width: 20%;
    font-weight: 200;
    margin-top: 20px;
}

/* Footer Button */

footer button {
    width: 300px;
    height: 50px;
    background-color: var(--button-hover-bg-color);
    color: var(--secondary-text-color);
    margin: 25px;
}

footer button:hover {
    background-color: rgb(177, 0, 0);
    color: var(--secondary-text-color);
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 10px;
    }

    .navbar {
        margin-top: 20px;
    }

    .navbar li {
        margin: 0 20px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .cta1 {
        width: 80%;
    }

    .cta1 p {
        font-size: 1rem;
        text-align: center;
    }

    .categories {
        flex-direction: column;
        margin: 50px 0;
    }

    .women,
    .men {
        width: 160px;
    }

    .icons p {
        font-size: 1rem;
    }

    .features {
        flex-direction: column;
    }

    .shoe2 {
        margin: 75px;
    }

    footer p {
        width: 100%;
        font-weight: 300;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
        margin-top: 40px;
    }

    .cta1 {
        width: 80%;
    }

    .cta1 p {
        font-size: 1rem;
        text-align: center;
    }

    .categories {
        flex-direction: column;
        margin: 50px 0;
    }

    .women,
    .men {
        width: 500px;
    }

    .icons p {
        font-size: 0.9rem;
    }

    .shoe2 {
        margin: 75px;
    }
}