@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(rgb(207, 207, 207) 50%, white 50%, rgb(170, 170, 255 50%));
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25%;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: darkblue;
    margin: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 25px 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-size: 1.1rem;
    margin: 0 50px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 98);
}

.navbar a:hover {
    text-decoration: none;
    color: darkblue;
    background-color: rgb(223, 223, 223);
    transition: 0.1s;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cta1 {
    width: 25%;
}

.cta1 h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 40px;
    color: rgb(0, 0, 80);
    margin: 25px 0;
}

.cta1 p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 20px;
}

.cta1-picture {
    width: 500px;
    padding: 50px;
}

button {
    width: 90%;
    height: 65px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: brown;
    transition: 0.3s;
    translate: ;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.women,
.men {
    width: 300px;
    height: 1px;
    padding: 100px;
    background-color: black;
    border-radius: 40px;
    color: whitesmoke;
}

.categories h2 {
    font-weight: 600;
    font-size: 2.7rem;
    color: whitesmoke;
    margin-top: -40px;
    margin-left: -20px;
}

.categories p {
    font-size: 1.2rem;
    margin-left: -20px;
}

.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow img {
    margin-top: 8px;
    margin-left: 20px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.icons-pic {
    width: 128px;
    height: 128px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    margin: 25px 0;
    aspect-ratio: ;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 35rem;
    text-align: center;
    padding: 10px;
}

footer h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: -75px;
}

footer p {
    width: 20%;
    margin-top: 10px;
}

footer button {
    width: 300px;
    height: 50px;
    background-color: brown;
    color: whitesmoke;
}

footer button:hover {
    background-color: rgb(228, 54, 54);
    color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    header {
        margin-top: 50px;
    }

    h1 {
        font-size: 10px;
    }

    .navbar {
        margin-top: 20px;
    }

    .navbar li {
        margin: 0 20px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .cta1 {
        width: 80%;
    }

    .cta1 p {
        font-size: 1rem;
    }

    .categories {
        flex-direction: column;
        margin: 50px 0;
    }

    .women,
    .men {
        width: 150px;
    }

    .icons {
        width: 100%;
    }

    .icons p {
        font-size: 0.85rem;
    }

    .features {
        flex-direction: column;
    }

    footer p {
        width: 100%;
        font-weight: 300;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .cta1 {
        width: 80%;
    }

    .cta1 p {
        font-size: 1rem;
    }

    .categories {
        flex-direction: column;
        margin: 50px 0;
    }

    .women,
    .men {
        width: 350px;
    }
}